.h2 {
    font-size: 46px;
    color: #14532D;
    font-weight: bolder;
    font-style: italic;

}



.BgSearch {
    background-image: url(../../src/indo\ food.jpg);
    height: 900px;
    border-radius: 10px;
}

.Overlay {
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    border-radius: 10px;
}

.Search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.SearchBar {
    border: 1px solid;
    margin-top: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    border-radius: 10px;
    background-color: white;
}

.SearchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 2rem;
    width: 10%;
    border-radius: 10px;
    background-color: #14532D;
    color: white;
}

.CuisineGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.CuisineBox {
    background-image: url(../../src/indo\ food.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    height: 275px;
    width: 275px;
}



.JoinUsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 1rem;
}